/* .nav {
    display: flex;
    justify-content:space-around;
    background-color: rgb(240, 220, 220);
}
.nav-h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(42, 95, 211);
}
span{
    color: rgb(230, 201, 39);
}
.list a {
    display: flex;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 12px;
    color: rgb(42, 95, 211);
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #f8f8f8;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content:space-around;
    background-color: #b8aeae;
    padding: 20px;
    text-align: center;
  }
  .list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; */
  }
  .list a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  .logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
  
  /* Gallery */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  
  }
  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }
  .gallery img:hover {
    transform: scale(1.02);
  }

  .gallery-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  .gallery-2 img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }
  .gallery-2 img:hover {
    transform: scale(1.02);
  }

  .main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .main img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }

  .main img:hover {
    transform: scale(1.02);
  }
  .main-h1 h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 27px;
  }

  .main-2nd{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .main-2nd img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }

  .main-2nd img:hover {
    transform: scale(1.02);
  }

  .footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .footer img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }

  .footer img:hover {
    transform: scale(1.02);
  }

  .footer1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .footer1 img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }

  .footer1 img:hover {
    transform: scale(1.02);
  }

  .footer2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .footer2 img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }

  .footer2 img:hover {
    transform: scale(1.02);
  }
  